.container {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.Header {
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.text {
  font-size: 2em;
  font-weight: 700;
}
.image {
  width: 27px;
  height: 27px;
  object-fit: cover;
}
.Hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.container1 {
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
}
.text01 {
  height: 93px;
  align-self: center;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.text03 {
  color: var(--dl-color-purple-default);
}
.text05 {
  margin-bottom: var(--dl-space-space-doubleunit);
}
.Hero-image-1 {
  width: 512px;
  height: 512px;
  z-index: 100;
}
.text06 {
  width: 100%;
  font-size: 25px;
  max-width: 70%;
  text-align: center;
}
.Background-blur-purple {
  top: 65px;
  right: -85px;
  width: 400px;
  filter: blur(60px);
  opacity: 0.2;
  z-index: 50;
  position: absolute;
  object-fit: cover;
}
.Background-arrows {
  left: 1px;
  width: 420px;
  bottom: 158px;
  z-index: 50;
  position: absolute;
  object-fit: cover;
}
.ackground-blur-green {
  top: 338px;
  left: 591px;
  width: 170px;
  filter: blur(60px);
  opacity: 0.6;
  z-index: 1;
  position: absolute;
  object-fit: cover;
}
.Stats {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-doubleunit);
  grid-gap: 32px;
  max-width: 1400px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.Stat {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.text07 {
  color: var(--dl-color-purple-default);
  z-index: 100;
  font-size: 3rem;
}
.text09 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.Stat1 {
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
}
.text10 {
  color: var(--dl-color-purple-default);
  font-size: 3rem;
}
.text12 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.Stat2 {
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
}
.text13 {
  color: var(--dl-color-purple-default);
  font-size: 3rem;
}
.text15 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.Stat3 {
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
}
.text16 {
  color: var(--dl-color-purple-default);
  font-size: 3rem;
}
.text17 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.container2 {
  flex: 0 0 auto;
  width: 100%;
  margin: var(--dl-space-space-doubleunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.text18 {
  align-self: center;
  text-align: center;
}
.text20 {
  color: var(--dl-color-purple-default);
}
.container3 {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;;
  grid-template-areas: "Image Box-1" "Image Box-2" "Image Box-3";
  grid-template-columns: 1fr 1fr;;
}
.image1 {
  width: 100%;
  height: 100%;
  grid-area: Image;
  max-height: 700px;
  object-fit: contain;
}
.container4 {
  grid-area: Box-1;
  justify-self: left;
}
.container5 {
  grid-area: Box-2;
  justify-self: left;
}
.container6 {
  grid-area: Box-3;
  justify-self: left;
}
.container7 {
  width: 100%;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-300);
}
.text21 {
  padding: var(--dl-space-space-halfunit);
}
.Footer {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.IconGroup {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.link {
  display: contents;
}
.icon {
  width: 16px;
  height: 16px;
  text-decoration: none;
}
.BlurBackground {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  filter: blur(60px);
  height: 70vh;
  display: flex;
  z-index: 0;
  position: absolute;
  align-items: center;
  flex-direction: column;
  background-color: #f2f2f2;
}
@media(max-width: 991px) {
  .Hero {
    flex-direction: column;
  }
  .container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .text01 {
    width: auto;
    height: 64px;
    font-size: 60px;
    text-align: center;
    line-height: var(--dl-size-size-tripleunit);
    list-style-position: inside;
  }
  .Hero-image-1 {
    width: 423px;
    height: 423px;
  }
  .text06 {
    font-size: 20px;
  }
  .ackground-blur-green {
    top: 296px;
    left: 211px;
  }
  .text07 {
    text-align: center;
  }
  .text10 {
    text-align: center;
  }
  .text13 {
    text-align: center;
  }
  .text16 {
    text-align: center;
  }
  .container2 {
    height: 65px;
  }
  .text18 {
    width: auto;
    height: 53px;
    font-size: 30px;
    text-align: center;
    line-height: var(--dl-size-size-tripleunit);
    list-style-position: inside;
  }
}
@media(max-width: 767px) {
  .Header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .Hero {
    padding-left: 32px;
    padding-right: 32px;
  }
  .text01 {
    width: auto;
    height: 70px;
    font-size: 50px;
    text-align: center;
    list-style-position: inside;
  }
  .text05 {
    width: auto;
  }
  .text06 {
    z-index: 100;
  }
  .Background-blur-purple {
    opacity: 0.2;
  }
  .Background-arrows {
    left: -26px;
    width: 258px;
    bottom: 136px;
    height: 139px;
  }
  .Stats {
    padding-left: 32px;
    padding-right: 32px;
    grid-template-columns: 1fr 1fr;
  }
  .Stat {
    font-size: 1.5 rem;
  }
  .text07 {
    font-size: 2rem;
  }
  .text09 {
    text-align: center;
  }
  .text10 {
    font-size: 2rem;
  }
  .text12 {
    text-align: center;
  }
  .text13 {
    font-size: 2rem;
  }
  .text15 {
    text-align: center;
  }
  .text16 {
    font-size: 2rem;
  }
  .text17 {
    text-align: center;
  }
  .container2 {
    margin: var(--dl-space-space-unit);
  }
  .text18 {
    width: auto;
    font-size: 25;
    text-align: center;
    list-style-position: inside;
  }
  .container3 {
    grid-template-areas: "Box-1" Box-2" Box-3";
    grid-template-columns: 1fr;
  }
  .image1 {
    display: none;
  }
  .Footer {
    padding-left: 32px;
    padding-right: 32px;
  }
  .text22 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .Header {
    padding: var(--dl-space-space-unit);
  }
  .Hero {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .text01 {
    width: 100%;
    height: 139px;
    inline-size: 320px;
    line-height: var(--dl-size-size-tripleunit);
    list-style-position: inside;
  }
  .text05 {
    text-align: center;
    inline-size: 320px;
    text-overflow: 320px;
  }
  .Hero-image-1 {
    width: 80%;
    height: auto;
  }
  .text06 {
    text-align: center;
  }
  .Background-blur-purple {
    opacity: 0.2;
  }
  .Background-arrows {
    left: -79px;
    width: 204px;
    bottom: 234px;
    height: 97px;
    position: absolute;
    align-self: flex-start;
  }
  .Stats {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
    grid-template-columns: 1fr;
  }
  .Stat {
    font-size: 1.5 rem;
  }
  .Stat2 {
    font-size: 1.5 rem;
  }
  .text18 {
    width: 100%;
    height: auto;
    inline-size: 320px;
    line-height: var(--dl-size-size-tripleunit);
    list-style-position: inside;
  }
  .Footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .text22 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
