.container {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.Main {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.BlurBackground {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  filter: blur(60px);
  height: 70vh;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  background-color: #f2f2f2;
}
.Header {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.Logo {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.Hero {
  flex: 0 0 auto;
  width: 100%;
  height: 80vh;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.container01 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.text01 {
  height: 93px;
  align-self: center;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.text03 {
  margin-bottom: var(--dl-space-space-doubleunit);
}
.text04 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.image {
  width: 536px;
  height: 318px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
}
.TurquoiseCirble {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.PurpleCircle {
  top: -100px;
  left: auto;
  right: -26px;
  width: 400px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
}
.Left {
  top: 653px;
  left: 0px;
  right: auto;
  width: 420px;
  bottom: auto;
  position: absolute;
  object-fit: cover;
}
.Right {
  top: 441px;
  left: auto;
  right: 0px;
  width: 612px;
  bottom: auto;
  position: absolute;
  object-fit: cover;
}
.Features {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.text06 {
  max-width: 600px;
  text-align: center;
}
.text07 {
  white-space: pre-wrap;
}
.Features1 {
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.CTA {
  width: 100%;
  height: 477px;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-purple-default);
}
.container02 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  flex-wrap: wrap;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.container03 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.container04 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.text08 {
  color: var(--dl-color-purple-100);
}
.container05 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.text09 {
  color: var(--dl-color-gray-300);
  max-width: 500px;
}
.container06 {
  width: 520px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.image1 {
  top: -100px;
  left: auto;
  right: var(--dl-space-space-doubleunit);
  width: 232px;
  bottom: auto;
  position: absolute;
  object-fit: cover;
}
.image2 {
  top: auto;
  left: var(--dl-space-space-doubleunit);
  right: auto;
  width: 232px;
  bottom: -100px;
  position: absolute;
  object-fit: cover;
}
.Footer {
  flex: 0 0 auto;
  color: var(--dl-color-gray-white);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.container07 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  flex-wrap: wrap;
  max-width: 1110px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.container08 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: flex-start;
}
.Divider {
  width: 100%;
  height: 1px;
  opacity: 0.2;
  background-color: var(--dl-color-gray-white);
}
.container09 {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.Text10 {
  color: var(--dl-color-gray-300);
  margin-top: var(--dl-space-space-unit);
}
@media(max-width: 991px) {
  .Hero {
    height: auto;
    flex-direction: column;
  }
  .container01 {
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .text01 {
    width: auto;
    text-align: center;
    line-height: var(--dl-size-size-tripleunit);
    list-style-position: inside;
  }
  .text05 {
    text-align: center;
  }
  .CTA {
    height: 251px;
  }
  .container02 {
    justify-content: center;
  }
  .container03 {
    align-items: center;
  }
  .container04 {
    align-self: center;
    align-items: flex-start;
  }
  .text08 {
    width: 383px;
    height: 35px;
    align-self: center;
    text-align: center;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .text09 {
    align-self: flex-start;
    text-align: left;
  }
  .container06 {
    display: none;
  }
}
@media(max-width: 767px) {
  .text01 {
    width: auto;
    height: 126px;
    font-size: 50px;
    text-align: center;
    list-style-position: inside;
  }
  .text03 {
    width: auto;
  }
  .image {
    height: 372px;
  }
  .text05 {
    font-size: 40px;
  }
  .container08 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .container09 {
    flex-direction: column;
  }
  .Text10 {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .text01 {
    height: 139px;
    inline-size: 320px;
    line-height: var(--dl-size-size-tripleunit);
    list-style-position: inside;
  }
  .text03 {
    text-align: center;
    inline-size: 320px;
    text-overflow: 320px;
  }
  .image {
    width: 383px;
    height: 264px;
  }
  .text05 {
    text-align: center;
  }
  .text06 {
    text-align: center;
  }
}
