.container {
  width: 391px;
  height: 50px;
  display: flex;
  position: relative;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius6);
  flex-direction: row;
  justify-content: center;
}
.textinput {
  color: var(--dl-color-gray-800);
  width: 237px;
  align-self: flex-start;
  transition: 0.3s;
  border-width: 0px;
}
.textinput:active {
  border-color: var(--dl-color-gray-white);
  border-style: hidden;
  border-width: none;
}

.rootClassName1 {
  align-self: flex-start;
  background-color: #D9D9D9;
}



.rootClassName5 {
  align-self: flex-start;
  background-color: #D9D9D9;
}


@media(max-width: 479px) {
  .textinput {
    width: 200px;
  }
}
